
.nav-item a{
    color: #fff !important;
    font-size: 25px;
    font-weight: 600;
}

.font-style{
    font-family: "Ubuntu", sans-serif;
}

.logo{
    color: #fff !important;
    font-size: 35px !important;
    font-weight: 600; 
   
}

.home{
    background-image: url('img/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    overflow: hidden;
    height: 800px;
    display:flex;
    width: 100%;
    background-color: rgba(184, 177, 177, 0.87);
    background-position: center;
    background-attachment: fixed;
}

.post-2{
    background-image: url('img/photo-1523878288860-7ad281611901.avif');
    
}
.home-con{
    margin-top: 200px !important;
}

.bg-black{
    background-color: #020200;
}

.text-2{
    font-size: 65px;
}

.btn-hover:hover{
    background-color: transparent !important;
    border: 1px solid #ffc107 !important;
    color: #ffc107 !important;

}

.transparent{
    background-color: rgba(83, 82, 82, 0.555);
}

.h1tag{
    display: flex;
    justify-content: center;
}



@-webkit-keyframes typing { from { width: 0; } to {width:22ch} }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h2 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 22ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 7s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

h1 {
  text-align: center;
  
  
}
h1 { font-size: 6.5em; }
