
.nav-item a{
    color: #fff !important;
    font-size: 25px;
    font-weight: 600;
}

.font-style{
    font-family: "Ubuntu", sans-serif;
    background-color: #020200;
}

.logo{
    color: #fff !important;
    font-size: 35px !important;
    font-weight: 600; 
   
}

.home{
    background-image: url('img/bg.avif');
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    overflow: hidden;
    height: 800px;
    display:flex;
    width: 100%;
    background-color: rgba(184, 177, 177, 0.87);
    background-position: center;
    background-attachment: fixed;
}

.post-2{
    background-image: url('img/photo-1523878288860-7ad281611901.avif');
    
}
.home-con{
    margin-top: 200px !important;
}

.bg-black{
    background-color: #020200;
}

.text-2{
    font-size: 65px;
}

.btn-hover:hover{
    background-color: transparent !important;
    border: 1px solid #ffc107 !important;
    color: #ffc107 !important;

}

.transparent{
    background-color: rgba(83, 82, 82, 0.555);
}

.h1tag{
    display: flex;
    justify-content: center;
}



@-webkit-keyframes typing { from { width: 0; } to {width:22ch} }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h2 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	width: 16.5em; 
	width: 22ch;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 7s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

h1 {
  text-align: center;
  
  
}
h1 { font-size: 6.5em; }

.box{
    height: 200px;
    width: 200px;
   
    border: 1px solid rgb(16, 219, 16);
}  .s-1:hover{
     box-shadow: #e0320bb7 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
     border: 1px solid rgb(224, 102, 31) !important;
  }
  .s-2:hover{
     box-shadow: #006fbec5 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
     border: 1px solid rgb(16, 116, 209) !important;
  }
  .s-3:hover{
     box-shadow: #6f10ecbe 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
     border: 1px solid rgb(150, 31, 219) !important;
  }
  .s-4:hover{
     box-shadow: #78d0f5c4 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
      border: 1px solid rgb(153, 190, 238) !important;
  }
  .s-5:hover{
     box-shadow: #f4e21eb7 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
      border: 1px solid rgb(201, 209, 133) !important;
  }
  .s-6:hover{
     box-shadow: #007ecdbe 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
      border: 1px solid rgb(80, 94, 221) !important;
  }
  .s-7:hover{
     box-shadow: #707ea7 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
      border: 1px solid rgb(210, 188, 223) !important;
  }


  .hover-i:hover{
    box-shadow: #707ea7 2px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
    
  }
  .bg-blue{
    backdrop-filter: blur(1.2rem) !important;
    background-color:#cbaee76b !important;
  }